BasedOnStyle: WebKit
AccessModifierOffset: 4
AlignConsecutiveMacros: true
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: None
BreakBeforeBraces: Allman
ColumnLimit: 100
IncludeBlocks: Regroup
InsertNewlineAtEOF: true
PointerAlignment: Right
SortIncludes: true
