BasedOnStyle: WebKit
AccessModifierOffset: 4
AlignConsecutiveAssignments: true
AlignConsecutiveMacros: true
AlignConsecutiveDeclarations: true
AlignOperands: true
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: None
BreakBeforeBraces: Allman
ColumnLimit: 100
IncludeBlocks: Regroup
InsertNewlineAtEOF: true
PointerAlignment: Right
SortIncludes: true
