---
BasedOnStyle: WebKit
AccessModifierOffset: 4
# AlignConsecutiveMacros: true
AlignConsecutiveDeclarations: true
AlignOperands: true
BreakBeforeBraces: Allman
ColumnLimit: 100
IncludeBlocks: Regroup
IndentPPDirectives: None
IndentWidth: 4
PointerAlignment: Right
SortIncludes: false
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeRangeBasedForLoopColon: true
SpacesInContainerLiterals: true
TabWidth: 4
UseTab: Never

...
